.package-adder{
    border: 2px solid #000;
    width: 50%;
    margin: auto;
}

.package-adder form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.package-adder form input,textarea{
    width: 40%;
    margin-bottom: 20px;
    padding: 10px;
}

/* use media query */

@media only screen and (max-width: 768px)  {
    .package-adder{
        border: 2px solid #000;
        width: 90%;
        margin: auto;
    }
    .package-adder form input,textarea{
        width: 90%;
        margin: 25px 0;
    }
}
@media only screen and (max-width: 1024px)  {
    .package-adder{
        border: 2px solid #000;
        width: 90%;
        margin: auto;
    }
    .package-adder form input,textarea{
        width: 90%;
        margin: 25px 0;
    }
}