.App {
  text-align: center;
}

/* custom css  */

.z-index-h{
  z-index: 9999;
}
.z-index-l{
  z-index: 99;
}


/* colors  */
.text-color {
  color: #222222;
}
.primary-color-bg{
  background-color: #31D2F2;
}
.secondary-color{
  color:#03425B;
}


/* form  */
.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form{    
  border: 1px solid black;
  margin: 30px;
  padding: 50px;
}
.input{
  padding: 4px;
  margin: 8px;
}


/* user */
.user img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.user-profile img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}


/* banner */
.bg-banner{
  background-color: rgba(255, 253, 253, 0.589);
}
.quality{
  background-image: url("https://image.freepik.com/free-vector/abstract-background-with-squares_23-2148995948.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.icon{
  color: #131313;
}
.h-card{
  transition: 0.5s;
}
.h-card:hover{
  background-color: #131313;
  color: white;
  box-shadow: 5px 5px 20px rgb(51, 51, 51);
}
.h-card:hover .icon{
  color: #fff;

}

/* pricing  */
.pricing{
  background-image: url("https://image.freepik.com/free-vector/abstract-background-with-squares_23-2148995948.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Price-card{
  transition: 0.8s;
}
.Price-card:hover{
  transform: scale(1.1);
}
.price{
  background-color: #31d2f23f;
}

/* packages */
.service-card-img {
  overflow: hidden;
}
.service-card-img img{
  transition: 0.8s;
  width: 100%;
  height: 200px;
  border-radius: 15px;
}
.service-card-img:hover img{
  transform: scale(1.2);
}


/* order / booking */
.order-img img{
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

/* footer  */
.footer{
  background-color:#4e565a ;
}


/* responsive behaviour */
@media only screen and (max-width: 768px) {
  .block{
    display: none;
  }
  
  .user-div{
    display: flex;
    justify-content: space-evenly;
  }
  .departments{
    padding: 50px;
  }
  .contact{
    margin-right: 40px ;
  }
}

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }
